---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %} -->

{% include base_path %}

<div style="font-family: 'Times New Roman', Times, serif; font-size: 16px;">
  <ul>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>Fast on-device LLM inference with NPUs</b><br>
      <b>Daliang Xu</b>, H Zhang, L Yang, R Liu, G Huang, M Xu, X Liu<br>
      <i>ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</i><br>
      Year: 2025
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>EdgeLLM: Fast On-device LLM Inference with Speculative Decoding</b><br>
      <b>Daliang Xu</b>, W Yin, H Zhang, X Jin, Y Zhang, S Wei, M Xu, X Liu<br>
      <i>IEEE Transactions on Mobile Computing (TMC)</i><br>
      Year: 2024
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>Towards energy-efficient federated learning via int8-based training on mobile DSPs</b><br>
      J Yuan, S Wang, H Li, <b>Daliang Xu</b>, Y Li, M Xu, X Liu<br>
      <i>Proceedings of the ACM Web Conference (TheWebConf)</i><br>
      Year: 2024
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>SoCFlow: Efficient and scalable DNN training on SoC-clustered edge servers</b><br>
      <b>Daliang Xu</b>, M Xu, C Lou, L Zhang, G Huang, X Jin, X Liu<br>
      <i>ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</i><br>
      Year: 2024
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>Efficient, Scalable, and Sustainable DNN Training on SoC-Clustered Edge Servers</b><br>
      M Xu, <b>Daliang Xu</b>, C Lou, L Zhang, G Huang, X Jin, X Liu<br>
      <i>IEEE Transactions on Mobile Computing (TMC)</i><br>
      Year: 2024
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-B]</span></b><b>PieBridge: Fast and Parameter-Efficient On-Device Training via Proxy Networks</b><br>
      W Yin, <b>Daliang Xu</b>, G Huang, Y Zhang, S Wei, M Xu, X Liu<br>
      <i>ACM Conference on Embedded Networked Sensor Systems (SenSys)</i><br>
      Year: 2024
    </li>
    <br>
    <li>
      🏆 <b><span style="color: #c00;">[CCF-B Distinguished Paper Award]</span></b><b>Niagara: Scheduling DNN Inference Services on Heterogeneous Edge Processors</b><br>
      <b>Daliang Xu</b>, Q Li, M Xu, K Huang, G Huang, S Wang, X Jin, Y Ma, X Liu<br>
      <i>International Conference on Service-Oriented Computing (ICSOC)</i><br>
      Year: 2023
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>Satellite Computing: From Space to Your Screen</b><br>
      Q Li, <b>Daliang Xu</b><br>
      <i>International Conference on Service-Oriented Computing (ICSOC)</i><br>
      Year: 2023
    </li>
    <br>
    <li>
      <b><span style="color: #c00;">[CCF-A]</span></b><b>Mandheling: Mixed-precision on-device DNN training with DSP offloading</b><br>
      <b>Daliang Xu</b>, M Xu, Q Wang, S Wang, Y Ma, K Huang, G Huang, X Jin, X Liu<br>
      <i>ACM International Conference on Mobile Computing and Networking (MobiCom)</i><br>
      Year: 2022
    </li>
  </ul>
  </div>
  