---
layout: archive
title: "Students"
permalink: /talks/
author_profile: true
---

<div style="font-family: 'Times New Roman', Times, serif; font-size: 16px;">
  <p>I have been lucky to work with the following students at Peking University.</p>
  <ul>
    <li><b>Yinyuan Zhang</b>, Ph.D. student: multimodal LLMs</li>
    <li><b>Zhiyang Chen</b>, Ph.D. student: efficient NPU-optimized LLM inference</li>
  </ul>


</div>

<div style="font-family:Arial, sans-serif; max-width:700px; margin: 0 auto;">

  <h2>Join Our Research Team!</h2>
  
  <h3>How to Apply</h3>
  <ul>
    <li>Along with your CV, please send a brief email introducing your background, research interests, and future goals.</li>
    <li>We welcome students from AI, computer architecture, compilers, or systems backgrounds. If you’re curious about edge heterogeneous computing or satellite hardware, this is the place for you!</li>
    <li>Interested in C/C++/Python, Verilog/Chisel, or the basics of large language models (LLMs)? Whether you have hands-on experience or just a strong interest, we encourage you to reach out.</li>
    <li>We welcome Master’s/PhD candidates, those seeking recommendation-based admission, as well as undergraduates interested in research internships.</li>
  </ul>
  
  <h3>Why Join Us?</h3>
  <ul>
    <li><strong>Frontier Research:</strong> Work on cutting-edge LLMs and system/hardware design. Get exposure from algorithms to architecture.</li>
    <li><strong>Supportive Team:</strong> Enjoy a friendly, open, and collaborative environment. We learn and grow together!</li>
    <li><strong>Strong Resources:</strong> Supported by Prof. Shangguang Wang's team with solid funding and technical depth. Students are encouraged to attend top academic conferences in China and abroad.</li>
    <li><strong>Excellent Connections:</strong> Daliang obtains a PhD from Peking University and strong ties to top labs at PKU (Prof. Gang Huang and Prof. Xuanzhe Liu) and BUPT (Prof. Shangguang Wang). Outstanding students may be recommended for further study or receive reference letters.</li>
  </ul>
  
  <p style="color: #4b8bbe; font-weight: bold; margin-top:24px;">
    If you're passionate about research and innovation, we'd love to hear from you!
  </p>
</div>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
