---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<div style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"> 
  <p>Courses I have TAed:</p>
  <ul>
    <li>Spring 2018: <b>Digital Logic</b></li>
    <li>Fall 2018: <b>Multicore Storage Systems</b></li>
    <li>Spring 2022: <b>Advanced Operating Systems</b></li>
  </ul>
  </div>
