---
layout: archive
title: "Students""
permalink: /recruiting/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->


 <div style="font-family: 'Times New Roman', Times, serif; font-size: 16px;">
  <p>I have been lucky to work with the following students at Peking University.</p>
  <ul>
    <li><b>Yinyuan Zhang</b>, Ph.D. student: multimodal LLMs</li>
    <li><b>Zhiyang Chen</b>, Ph.D. student: efficient NPU-optimized LLM inference</li>
  </ul>


</div>